*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/caches/gradle_models.ser
.idea/assetWizardSettings.xml
.idea/render.experimental.xml
